$s2880: 2881px;
$s2400: 2401px;
$s2160: 2161px;
$s2048: 2049px;
$s1800: 1801px;
$s1620: 1621px;
$s1600: 1601px;
$s1536: 1537px;
$s1440: 1441px;
$s1350: 1351px;
$s1200: 1201px;
$s1152: 1153px;
$s1080: 1081px;
$s1050: 1051px;
$s1024: 1025px;
$s960: 961px;
$s900: 901px;
$s864: 865px;
$s800: 801px;
$s768: 769px;
$s720: 721px;
$s640: 641px;
$s600: 601px;
$s576: 577px;
$s540: 541px;
$s480: 481px;
$s384: 385px;
$s360: 361px;
$s320: 321px;

$primary: #a65cf0;
$primary-light: #c998fb;
$primary-shade: #7033ac;
$pink-light: #f8efff;
$pink-violet: #ebd1ff;
$secodary: #ff862f;
$secodary-light: #ffbd59;
$secodary-shade: #bb370e;
$red-input: #ff6972;
$green-input: #b8ec64;
$gold: #d5b986;
$white: #fff;
$grey-light: #f7f7f7;
$md-grey: #eaeaea;
$grey: #999;
$grey-shade: #666;
$black: #333;
$background20p: rgba(0, 0, 0, 0.2);
$lime-color: #daffd1;
$bone: #fff5d1;
